{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
    ring/ring-core {:mvn/version "1.12.1"}
    ring/ring-jetty-adapter {:mvn/version "1.12.1"}
    clj-http/clj-http {:mvn/version "3.12.3"}

  dist-dto {:local/root "../dist-dto"}}}
